body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.body-content {
    text-align: center;
    margin: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
header, footer {
    background: linear-gradient(to right, 
                                red, 
                                orange, 
                                yellow, 
                                green, 
                                blue, 
                                indigo, 
                                violet);
    color: white;
    text-align: center;
    padding: 1em 0;
}
.button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background: linear-gradient(to right, 
                                red, 
                                orange, 
                                yellow, 
                                green, 
                                blue, 
                                indigo, 
                                violet);
								color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

/* Bestaande stijlen... */

/* Responsive stijlen voor kleinere schermen */
@media screen and (max-width: 600px) {
    .body-content button {
        padding: 20px 40px; /* Grotere padding voor grotere knoppen */
        font-size: 1.2em; /* Groter lettertype voor betere leesbaarheid */
    }

    nav ul li {
        display: block; /* Stacked lijstitems in plaats van inline */
        margin-right: 0;
        margin-bottom: 10px; /* Ruimte tussen items */
    }

    header, footer {
        padding: 2em 0; /* Meer ruimte in header en footer */
    }
}
